$pink: rgb(231, 97, 180);
$background-to-left: linear-gradient(to left, rgb(4, 4, 34), rgb(15, 23, 68));
$background-to-botton: linear-gradient(to top right, rgb(4, 4, 34), rgb(15, 23, 68));
$blue: rgb(139, 139, 247);
$white: white;
$aquablue: linear-gradient(to top right, rgb(34, 34, 83), rgba(23, 38, 119, 0.5));
$opacity: 0.5;
$black: black;
$crimson: crimson;

